

 body{
 	margin:0;
 }

 *{
 	box-sizing: border-box;
 }

 .product{
 	background-color: #cecece;
 	height: 100vh;
 	padding:100px 15px;
 }

 .product .product-img img{
 	max-width: 400px;
 	margin: auto;
	display: block;
	border: 1px solid #111;
	padding: 38px;
	background: #eae7e763;
 }
.product .color-selectors {
	text-align: center;
	padding:40px 0px;
}
.product .color-selectors button{
	border:none;
	border-radius: 50%;
    width:25px;
    height: 25px;
    margin:4px;
    cursor: pointer;
}


/* Overwrite Chrome's default user agent styles */
.product .color-selectors button:focus {
	outline:none; 
}


.product .color-selectors button.active{
	animation: activeButton 1s linear alternate infinite;
}

@keyframes activeButton{
	
	50%{
		transform: scale(0.7);
	}
}







